body
{
  background-color: white;
}

h1
{
  color: red;

}

p
{
  color: white;
  font-size: 12pt;
  font-family: arial;
  border-style: solid;
  border-color: black;
  border-width: 12px;
  background-color:black;
}
